@import url('sidebar.css');
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,600italic");
@import url("https://fonts.googleapis.com/css?family=Helvetica");

html {
    font-size: 62.5%;
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    /* font-size: 62.5%; */
    height: 100%;
    width: 100%;
    background-color: #f1efef;
}

.container {
    border-radius: 25px;
    border: rgb(81, 71, 71) solid 1px;
    height: 95%;
    width: 95%;
    display: flex;
    overflow-y: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
}


.hide_table {
    display: none;
}