<div id="main">
        <form id="form" method="post" action="/register">
            <div id="title">Đăng kí</div>
            <div id="form_input">
                <div id="username_box">
                    <input id="username" type="text" placeholder="Tên đăng nhập" name="username" maxlength="15">
                    <div id="username_warning"></div>
                </div>

                <div id="name_box">
                    <input id="name" type="text" placeholder="Họ và tên" name="fullname"  maxlength="30">
                    <div id="name_warning"></div>
                </div>

                <div id="pasword_box">
                    <input id="password" type="password" placeholder="Mật khẩu" name="password"  maxlength="15">
                    <div id="pass_warning"></div>
                </div>

                <div id="repass_box">
                    <input id="repassword" type="password" placeholder="Nhập lại mật khẩu" name="repassword"  maxlength="15">
                    <div id="repass_warning"></div>
                </div> 

                <div id="id_box">
                    <input id="id" type="text" placeholder="Số CMND/CCCD" name="id"  maxlength="20">
                    <div id="id_warning"></div>
                </div>         

                <div id="address_box">
                    <input id="address" type="text" placeholder="Địa chỉ" name="address"  maxlength="100">
                    <div id="address_warning"></div>
                </div>     
            </div>
            <div id="btn_side">
                <button id="registerBtn" type="submit" value="Đăng kí">Đăng Kí</button>
                <a href="/login"><button id="loginBtn" type="button">Đăng Nhập</button></button></a>
            </div>
            
        </form>
    </div>