<div class="sidebar col-2 p-0">
    <div class="sidebarHeader">
        <a href="/home" class="sidebarHide">
            <i class="fa-solid fa-wallet fa-xl"></i>
            <span>Sổ tiết kiệm
        </a>
    </div>
    <nav>
        <ul>
            <li>
                <a href="/passbook" {{#if active.deposit}} class="active" {{else}} class="inactive" {{/if}}>
                    <i class="fa-solid fa-align-justify"></i>
                    <span>Danh sách phiếu gửi tiền</span>
                    {{!-- {{#if active.deposit}} <i class="iconActive"></i> {{/if}} --}}
                </a>
            </li>
            
        </ul>
    </nav>
    <div class="logoutButton">
        <a href="/logout" class="">
            <i class="icon iconLogout"></i>
            <span>Đăng xuất</span>
        </a>
    </div>
</div>